body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
footer{
  position: fixed;
  background: #eee;
  padding: 15px;
  text-align: center;
  width:100%;
  bottom:0;
}
ul{
  list-style-type: none !important;
}
.title{
  text-transform:uppercase;
  font-weight:bold;
}

.btn-success{
  background: rgba(50, 255, 84, 0.103) !important;
  color: rgb(37, 158, 0) !important;
  border:none !important;
  outline: none !important;
}

.btn-danger{
  background: rgba(255, 50, 50, 0.103) !important;
  color: rgb(158, 0, 0) !important;
  border:none !important;
  outline: none !important;
}
.btn-secondary{
  background: rgba(66, 66, 66, 0.103) !important;
  color: rgb(78, 78, 78) !important;
  border:none !important;
  outline: none !important;
}
.btn-main{
  background: rgba(66, 66, 66, 0.103) !important;
  color: rgb(78, 78, 78) !important;
  border:none !important;
  font-weight: bold !important;
  outline: none !important;
}
.container {
  max-width: 900px;
}
.trashed{
  background-image:repeating-linear-gradient(45deg,#fff,#fff 10px,#f6f6f6 0,#f6f6f6 20px)
}